<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<string>ا</string>
		<string>ـا</string>
		<string> آ</string>
	</array>
	<key>b</key>
	<array>
		<string>ب</string>
		<string>بـ</string>
		<string>ـبـ</string>
		<string>ـب</string>
	</array>
	<key>p</key>
	<array>
		<string>پ</string>
		<string>پـ</string>
		<string>ـپـ</string>
		<string>ـپ</string>
	</array>
	<key>t</key>
	<array>
		<string>ت</string>
		<string>تـ</string>
		<string>ـتـ</string>
		<string>ـت</string>
		<string>ط</string>
		<string>طـ</string>
		<string>ـطـ</string>
		<string>ـط</string>
	</array>
	<key>sh</key>
	<array>
		<string>ث</string>
		<string>ثـ</string>
		<string>ـثـ</string>
		<string>ـث</string>
		<string>ش</string>
		<string>شـ</string>
		<string>ـشـ</string>
		<string>ـش</string>
	</array>
	<key>j</key>
	<array>
		<string>ج</string>
		<string>جـ</string>
		<string>ـجـ</string>
		<string>ـج</string>
	</array>
	<key>che</key>
	<array>
		<string>چ</string>
		<string>چـ</string>
		<string>ـچـ</string>
		<string>ـچ</string>
	</array>
	<key>kh</key>
	<array>
		<string>خ</string>
		<string>خـ</string>
		<string>ـخـ</string>
		<string>ـخ</string>
	</array>
	<key>d</key>
	<array>
		<string>د</string>
		<string>ـد</string>
	</array>
	<key>ẕ</key>
	<array>
		<string>ذ</string>
		<string>ـذ</string>
		<string>ظ</string>
		<string>ظـ</string>
		<string>ـظـ</string>
		<string>ـظ</string>
	</array>
	<key>r</key>
	<array>
		<string>ر</string>
		<string>ـر</string>
	</array>
	<key>z</key>
	<array>
		<string>ز</string>
		<string>ـز</string>
		<string>ض</string>
		<string>ضـ</string>
		<string>ـض</string>
		<string>ـض</string>
	</array>
	<key>je</key>
	<array>
		<string>ژ</string>
		<string>ـژ</string>
	</array>
	<key>s</key>
	<array>
		<string>ـس</string>
		<string>س</string>
		<string>سـ</string>
		<string>ـسـ</string>
		<string>ص</string>
		<string>صـ</string>
		<string>ـصـ</string>
		<string>ـص</string>
	</array>
	<key>aa</key>
	<array>
		<string>ع</string>
		<string>عـ</string>
		<string>ـعـ</string>
		<string>ـع</string>
	</array>
	<key>gh</key>
	<array>
		<string>غ</string>
		<string>غـ</string>
		<string>ـغـ</string>
		<string>ـغ</string>
	</array>
	<key>f</key>
	<array>
		<string>ف</string>
		<string>فـ</string>
		<string>ـفـ</string>
		<string>ـف</string>
	</array>
	<key>g</key>
	<array>
		<string>ق</string>
		<string>قـ</string>
		<string>ـق</string>
		<string>ـق</string>
		<string>گ</string>
		<string>گـ</string>
		<string>ـگـ</string>
		<string>ـگ</string>
	</array>
	<key>k</key>
	<array>
		<string>ک</string>
		<string>ـ‍ك</string>
		<string>ك</string>
		<string>کـ</string>
		<string>ـکـ</string>
		<string>ـک</string>
	</array>
	<key>l</key>
	<array>
		<string>ل</string>
		<string>لـ</string>
		<string>ـلـ</string>
		<string>ـل</string>
	</array>
	<key>m</key>
	<array>
		<string>م</string>
		<string>مـ</string>
		<string>ـمـ</string>
		<string>ـم</string>
	</array>
	<key>n</key>
	<array>
		<string>ن</string>
		<string>نـ</string>
		<string>ـنـ</string>
		<string>ـن</string>
	</array>
	<key>oo</key>
	<array>
		<string>و</string>
		<string>ـو</string>
	</array>
	<key>h</key>
	<array>
		<string>ه</string>
		<string>هـ</string>
		<string>ـهـ</string>
		<string>ـه</string>
		<string>ح</string>
		<string>حـ</string>
		<string>ـحـ</string>
		<string>ـح</string>
	</array>
	<key>ye</key>
	<array>
		<string>ی</string>
		<string>ي</string>
		<string>یـ</string>
		<string>ـیـ</string>
		<string>ـی</string>
		<string> ى</string>
	</array>
</dict>
</plist>
